@use "../variables" as *;
.page-about .header {
    background-color: #fbf5e5;
}

.about-intro {
    &__heading {
        margin: 70px 0;
        max-width: 770px;
        width: 100%;
        color: var(--Dark, #0e1412);
        text-align: center;
        font-family: "Roboto Slab";
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 1.2381; /* 123.81% */
    }
}

.interviews {
    .interview-card {
        position: relative;
        &__image {
            width: 100%;
            height: 426px;
            object-fit: cover;
            display: block;
        }
        &__content {
            background: $Orange;
            padding: 25px 20px 20px;
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &__title {
            font-family: Manrope;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.45455; /* 145.455% */
        }
        &__desc {
            font-family: Manrope;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75; /* 175% */
        }
    }
    .play-button {
        width: 60px;
        height: 60px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: $Orange;
    }
}

.history {
    &__content {
        padding-bottom: 86px;
        padding-top: 86px;
    }
    margin-top: 150px;
    margin-bottom: 150px;
    .section-label {
        color: #586863;
    }
    .section-heading {
        color: #0e1412;
        width: 469px;
        max-width: 100%;
    }
    .section-desc {
        color: var(--Grey, #586863);
        font-family: Manrope;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.66667; /* 166.667% */
        width: 470px;
        max-width: 100%;
    }
    &__media {
        position: relative;
    }
    &__decoration {
        width: 158px;
        height: 270px;
        background: var(--Orange, #fd6038);
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: -30px;
        z-index: -1;
    }
    &__image {
        height: 570px;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.experience {
    background: var(--Yellow-Light, #f8ebc9);
    padding: 100px 0;
    text-align: center;
    .section-label,
    .section-heading {
        color: var(--Dark, #0e1412);
    }
    .section-desc {
        width: 770px;
        max-width: 100%;
        color: var(--Grey, #586863);
        margin: 0 auto;
    }
}
