<section class="cta">
    <div class="container">
        <div class="cta__body">
            <p class="section-label">#CTA</p>
            <h2 class="section-heading">Dealing With a Issue?</h2>
            <p class="section-desc">
                Where every injury is personal. We are a different kind of law
                firm. Let our small, passionate group of trial lawyers fight for
                your rights!
            </p>
            <a href="#!" class="btn">Get a Consultations</a>
        </div>
    </div>
</section>
