<footer class="footer">
    <div class="container">
        <!-- Footer Top Area -->
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- Column 1: Links -->
                    <div class="footer__col">
                        <h3 class="footer__col-heading">Justice</h3>
                        <ul class="footer__link-list">
                            <li>
                                <a href="#!" class="footer__link"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#!" class="footer__link"
                                    >Terms & Conditions</a
                                >
                            </li>
                            <li>
                                <a href="#!" class="footer__link"
                                    >Cookie Preferences</a
                                >
                            </li>
                        </ul>
                    </div>

                    <!-- Column 2: Pages -->
                    <div class="footer__col footer__col-item">
                        <h3 class="footer__col-heading">Pages</h3>
                        <nav>
                            <ul class="footer__link-list">
                                <li>
                                    <a href="/" class="footer__link">Home</a>
                                </li>
                                <li>
                                    <a href="/about.html" class="footer__link"
                                        >About</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="footer__link"
                                        >Practice Areas</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="footer__link"
                                        >Attorneys</a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Column 3: Contact -->
                    <div class="footer__col footer__col-item">
                        <h3 class="footer__col-heading">Justice</h3>
                        <address class="footer__address">
                            50 Harrison Street, PH Suite 445<br />
                            Hoboken, NJ 07030<br />
                            <a href="tel:0001234567">(000) 123-4567</a><br />
                            <a href="mailto:yourlawfirm22@gmail.com"
                                >yourlawfirm22@gmail.com</a
                            >
                        </address>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <!-- Column 4: Map -->
                    <div class="footer__col footer__col--map">
                        <div class="footer__map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3886.205086785351!2d109.2928900759467!3d13.08618498723986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTPCsDA1JzEwLjMiTiAxMDnCsDE3JzQzLjciRQ!5e0!3m2!1svi!2s!4v1753865842446!5m2!1svi!2s"
                                width="100%"
                                height="268"
                                style="border: 0"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Separator -->
        <hr class="footer__separator" />

        <!-- Footer Bottom Area -->
        <div class="footer__bottom">
            <div class="footer__copyright">
                <a href="/" class="footer__logo">
                    <img
                        src="/assets/images/logo.svg"
                        alt="Justice Law Firm Logo"
                    />
                </a>
                <p>Copyright © 2022 UI HUT All Rights Reserved</p>
            </div>
            <div class="footer__socials">
                <ul class="social-icons">
                    <li class="social-icons__item">
                        <a
                            href="#!"
                            class="social-icons__link"
                            aria-label="Facebook"
                            ><i class="fa-brands fa-facebook-f"></i
                        ></a>
                    </li>
                    <li class="social-icons__item">
                        <a
                            href="#!"
                            class="social-icons__link"
                            aria-label="LinkedIn"
                            ><i class="fa-brands fa-linkedin-in"></i
                        ></a>
                    </li>
                    <li class="social-icons__item">
                        <a
                            href="#!"
                            class="social-icons__link"
                            aria-label="Twitter"
                            ><i class="fa-brands fa-twitter"></i
                        ></a>
                    </li>
                    <li class="social-icons__item">
                        <a
                            href="#!"
                            class="social-icons__link"
                            aria-label="Instagram"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
