<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%- include("partials/head.ejs")%>
    </head>
    <body>
        <div class="page-practice-details">
            <%- include('partials/header.ejs') %>
            <main class="main">
                <!-- ==================== HERO IMAGE SECTION ==================== -->
                <div class="container">
                    <figure class="page-hero-image">
                        <img
                            src="/assets/images/hero-car-accident.jpg"
                            alt="Close-up of a car after an accident"
                        />
                    </figure>
                    <!-- ==================== HERO IMAGE SECTION END ==================== -->
                </div>

                <!-- ==================== PAGE CONTENT SECTION START ==================== -->
                <section class="page-content-detail py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-8 offset-2">
                                <!-- Sử dụng thẻ <article> cho nội dung bài viết là rất tốt về mặt ngữ nghĩa -->
                                <article>
                                    <h2>Tulsa Car Accident Attorney</h2>
                                    <p>
                                        If you or a loved one have been in an
                                        auto accident, you may be feeling
                                        overwhelmed and frustrated. The
                                        aftermath of a car accident can affect
                                        your personal and professional life as
                                        you deal with the physical, emotional,
                                        and financial burdens that an accident
                                        can cause. If you are struggling with
                                        the legalities of a car accident, then
                                        you want an experienced and
                                        knowledgeable car accident attorney by
                                        your side.
                                    </p>
                                    <p>
                                        At The Rode Law Firm, a personal injury
                                        firm with locations in Tulsa and
                                        Sapulpa, Oklahoma, we are focused on
                                        client recovery from auto accidents and
                                        severe injuries. We represent people in
                                        the Tulsa, Sapulpa, Broken Arrow, Sand
                                        Springs, and Owasso, Oklahoma areas who
                                        have suffered injuries in car accidents
                                        by providing professional representation
                                        both in and out of the courtroom.
                                    </p>
                                    <p>
                                        If you are involved in a car accident,
                                        the steps you take afterward directly
                                        affect your recovery. Having the nearest
                                        law enforcement agency investigate the
                                        wreck and a visit to the ER are prudent
                                        and highly recommended. Many injuries,
                                        such as a herniated disc or a
                                        concussion, may be disguised until weeks
                                        or months after the accident. Your
                                        well-being should be your number one
                                        priority.
                                    </p>

                                    <h2>Causes of Automobiles Accidents</h2>
                                    <!-- Các đoạn văn bản tiếp theo sẽ ở đây -->
                                    <p>
                                        Sometimes the cause of an accident is a
                                        driver’s actions or in-actions and may
                                        not be obvious to the police and
                                        eyewitnesses, such as:
                                    </p>

                                    <ul>
                                        <li>Distracted driving</li>
                                        <li></li>
                                        <li>Driving aggressively</li>
                                        <li></li>
                                        <li>Drunk driving</li>
                                        <li></li>
                                        <li>Fatigued driving</li>
                                        <li></li>
                                        <li>
                                            Speaking or texting with a cell
                                            phone
                                        </li>
                                    </ul>

                                    <p>
                                        At The Rode Law Firm, we will work with
                                        you to get you the best outcome possible
                                        for your case. We understand how
                                        devastating an accident can be, and how
                                        the effects of such can be
                                        life-altering. Our passion for helping
                                        people get back on their feet makes us
                                        an excellent legal partner for you. We
                                        care about you and want to help you
                                        resolve your case fairly and quickly.
                                        With over 30 years of legal experience,
                                        we have the skills needed to effectively
                                        defend you as your car accidents
                                        attorney. You deserve to be compensated
                                        fairly for your pain and suffering.
                                    </p>

                                    <h2>How We Will handle Your Case?</h2>
                                    <p>
                                        When we meet with new clients, our
                                        priority is to establish a strong
                                        attorney-client relationship. This will
                                        help us collaborate with you throughout
                                        the entire legal process, and make you
                                        feel comfortable coming to us with any
                                        questions or concerns along the way.
                                        Communication is imperative and constant
                                        throughout your case. We'll speak at
                                        least once every three weeks so that
                                        both parties are never in the dark. As
                                        our client, you will receive a full list
                                        of do's and don'ts while we handle your
                                        legal situation. This will guide you on
                                        best practices so that we can get you
                                        the outcome you deserve.
                                    </p>
                                    <p>
                                        The legal process can be confusing, so
                                        you may be wondering: how long will the
                                        process take? The answer to this
                                        question is dependent upon your recovery
                                        time for any injuries you may have
                                        sustained, how your insurance company
                                        responds to your claim, and whether or
                                        not we need to go to trial. No matter
                                        what, your attorneys at The Rode Law
                                        Firm will be by your side to answer any
                                        questions or concerns as best we can.
                                    </p>
                                    <h2>Compansation</h2>
                                    <p>
                                        If you have suffered harm and losses in
                                        a car accident, you have the right to
                                        make a claim for compensation against
                                        the responsible party. We can often
                                        recover compensation for:
                                    </p>
                                    <ul>
                                        <li>Medical expenses</li>
                                        <li></li>
                                        <li>Out-of-pocket expenses</li>
                                        <li></li>
                                        <li>Property damage</li>
                                        <li></li>
                                        <li>Loss of wages</li>
                                        <li></li>
                                        <li>Loss of earning capacity</li>
                                        <li></li>
                                        <li>Physical pain and suffering</li>
                                        <li></li>
                                        <li>Mental pain and suffering</li>
                                        <li></li>
                                        <li>Scarring and disfigurement</li>
                                        <li></li>
                                        <li>
                                            Loss of health insurance or other
                                            benefits
                                        </li>
                                        <li></li>
                                        <li>Loss of business and more</li>
                                    </ul>
                                    <h2>Call Our Law Firm Today</h2>
                                    <p>
                                        Our auto accidents attorneys and team
                                        will work on your case for you from
                                        start to finish. With a proven process
                                        for client recovery, we’ll manage your
                                        case to ensure the best recovery for you
                                        — both physically and financially. We
                                        are located in Tulsa and Sapulpa,
                                        Oklahoma, and we are proud to serve
                                        clients in other areas of Oklahoma
                                        including Broken Arrow, Sand Springs,
                                        and Owasso. Contact us today for legal
                                        help you can count on.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ==================== PAGE CONTENT SECTION END ==================== -->
                <%- include('partials/cta.ejs') %>
            </main>
            <%- include('partials/footer.ejs') %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
